@mixin dark-body{
    background:$darkbg;
    background-repeat:none;
    background-attachment:fixed;
}

@mixin dark-text{
    font-family:IBM;
    color:$mlight;
    font-size:20px;
}

@mixin light-body{
    background:$lightbg;
    background-repeat:none;
    background-attachment:fixed;
}

@mixin light-text{
    font-family:IBM;
    color:$mdark;
    font-size:20px;
}

