/*color palette, and color variables*/

/*body*/
$llight:#F7F5F9; /*light module*/
$mlight:#D9CCDF; /*light border*/
$dlight:#BBA3C5; /*Light bg*/
$lmid:#9C7AAB;   /*gradient start*/ /*highlight*/
$mmid:#7E5291;   /*glow*/
$dmid:#5F2977;   /*gradient end*/   /*shadow*/
$ldark:#41005D;  /*dark module*/
$mdark:#37004E;  /*dark border*/
$ddark:#030004;  /*dark bg*/

/*accents*/
$lpink:#FFFCFC; 
$mpink:#FDF0F1;
$dpink:#F7BFC3; /*Accent of importance*/
$lblue:#FDFEFF;
$mblue:#ECF4FC;
$dblue:#CAE1F8; 
$lyellow:#FEFCF5;
$myellow:#FAF1CD;
$dyellow:#F1DB7E; /*Attention grab*/
$lgreen:#F8FDFB;
$mgreen:#DEF3E9;
$dgreen:#8FD7B4;
$lpurple:#FDF1FF; /*Dark theme - monochromatic*/
$mpurple:#F7BBFD;            /*^v*/
$dpurple:#CF9DD5; /*Dark theme - monochromatic*/

/*Light theme*/


/*Dark theme*/

