/*color palette, and color variables*/

/*body*/
$llight:#F7F5F9;
$mlight:#D9CCDF;
$dlight:#BBA3C5;
$lmid:#9C7AAB;
$mmid:#7E5291;
$dmid:#5F2977;
$ldark:#41005D;
$mdark:#37004E;
$ddark:#030004;

/*accents*/
$lpink:#FFFCFC; 
$mpink:#FDF0F1;
$dpink:#F7BFC3; /*Accent of importance*/
$lblue:#FDFEFF;
$mblue:#ECF4FC;
$dblue:#CAE1F8; 
$lyellow:#FEFCF5;
$myellow:#FAF1CD;
$dyellow:#F1DB7E; /*Attention grab*/
$lgreen:#F8FDFB;
$mgreen:#DEF3E9;
$dgreen:#8FD7B4;

/*primary accents*/
$lpurple:#FDF1FF;
$mpurple:#F7BBFD;
$dpurple:#CF9DD5;

/*Dark theme*/
$darkbg:linear-gradient(180deg,$ddark 0%, $mdark 27%, $ldark 100%);

/*Light theme*/
$lightbg:linear-gradient(180deg,$dlight 0%, $mlight 27%, $llight 100%);

/*breakpoints*/
$mobile:360px;
$tablet:800px;
$desktop:1440px;